
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta charset="utf-8"><meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<link rel="shortcut icon" href="/favicon.ico" />
<link href="<?php echo '/template/'.$web_moban;?>/css/ionicons.min.css" rel="stylesheet" type="text/css">
<link href="<?php echo '/template/'.$web_moban;?>/css/mdui.min.css" rel="stylesheet" type="text/css">
<link href="<?php echo '/template/'.$web_moban;?>/css/css.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]><script src="js/html5shiv.min.js"></script><![endif]-->
	<title>正在播放 <?php JCCMS_SQL($JCCMS_SQL,'0','JCCMS_SQL_name');?></title>
	<meta name="keywords" content="<?php echo $web_keywords;?>" />
	<meta name="description" content="<?php echo $web_description;?>" />
</head>
<body class="mdui-drawer-body-left mdui-appbar-with-toolbar mdui-theme-primary-pink mdui-theme-accent-pink">
<!--[if lte IE 9]><div class="mdui-text-center mdui-p-a-2 mdui-typo lteie9">您的浏览器版本太低了，为了能更好的体验本站，请升级您的浏览器。下载最新版本的浏览器：<a href="http://ie.microsoft.com" target="_blank">IE</a>、<a href="http://www.google.cn/chrome/" target="_blank">chrome(谷歌浏览器)</a>、<a href="http://www.firefox.com.cn/" target="_blank">Firefox(火狐浏览器)</a>，推荐使用谷歌浏览器</div><![endif]--><!-- 顶部工具栏开始 -->
 <?php  include('./template/'.$web_moban.'/header.html');?>
<!-- 通栏广告结束 --><div class="show-videos-container"><div class="mdui-row flex-grid playerbox"><div class="mdui-m-a-0 mdui-p-a-0 mdui-col-xs-12 mdui-col-md-9 playerarea-left">
								<video id='myVideo'  class="video-js"></video>
											<link rel="stylesheet" type="text/css" href="/static/VideoJS/video.min.css?v=3">
											<script type="text/javascript" src="/static/VideoJS/video.min.js?v=1" charset="utf-8" > </script>
												<script type="text/javascript" src="/static/VideoJS/video-conrtib-ads.js?v=1" charset="utf-8" > </script>
												<script type="text/javascript" src="/static/VideoJS/myVideo.js?v=6" charset="utf-8" > </script>
												<script type="text/javascript">
												var vPath = '<?php JCCMS_SQL($JCCMS_SQL,'0','JCCMS_SQL_playurl');?>';
												var logo = '';
												var myVideo=initVideo({
                                                    id:'myVideo',
                                                    url:vPath,
													ad:{
                                                      pre:{
                                                          url:'',
                                                          link:'',
                                                      },
												  	},

												});
												</script></div


></div></div></div></div><!-- 视频详情介绍开始 --><div class="mdui-container main-container mdui-typo video-details"><div class="mdui-row-xs-1 mdui-row-sm-2 mdui-p-y-2 mdui-text-center banner-ad">
	<?php	Jccms_json_ad_video(' <div class="mdui-col"><a href="链接" target="_blank" rel="nofollow"><img src="图片" alt=""></a></div>');?>	

</div><h3 class="mdui-p-a-0"><?php JCCMS_SQL($JCCMS_SQL,'0','JCCMS_SQL_name');?></h3><div class="mdui-clearfix mdui-text-color-grey"><div class="mdui-float-right"><button class="mdui-btn mdui-ripple btn-tread-digg" mdui-tooltip="{content: '踩'}">分类ID:<?php JCCMS_SQL($JCCMS_SQL,'0','JCCMS_SQL_type');?></button><button class="mdui-btn mdui-ripple btn-tread-digg" mdui-tooltip="{content: '赞'}">ID:<?php JCCMS_SQL($JCCMS_SQL,'0','JCCMS_SQL_id');?></button></div><div class="mdui-float-left"><i class="mdui-icon ion-ios-videocam-outline"></i> <span id="hit"><?php JCCMS_SQL($JCCMS_SQL,'0','JCCMS_SQL_time');?></div></div><h3 class="column-title">猜您喜欢</h3>

<div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-4 mdui-grid-list list-videos"><div class="flex-grid">
					<?php  
					include('./lib/datatop.php');
					 $pagesize = 12; //设置记录显示条数; 
					 $JCCMS_pagecount = floor(count($JCCMS_SQL) / $pagesize)-1;//计算数组所得到记录总数
					  $JCCMS_prev = $JCCMS_pages -1; //初始化上一页
					 $JCCMS_next = $JCCMS_pages +1; //初始化下一页

					
					
					?>
					<?php   $JCCMS_SQL=JCCMS_chulis(JCCMS_SQLL($JCCMS_SQL,'0','JCCMS_SQL_type'));for($x=$JCCMS_page * $pagesize;$x<$JCCMS_page * $pagesize + $pagesize;$x++){ ?>
<div class="mdui-col"><a href="/?m=vod-detail-id-<?php JCCMS_SQLs($JCCMS_SQL,$x,'JCCMS_SQL_id');?>.html" target="_blank"><div class="mdui-grid-tile"><img src="<?php JCCMS_SQLs($JCCMS_SQL,$x,'JCCMS_SQL_pic');?>" alt="<?php JCCMS_SQL($JCCMS_SQL,$x,'JCCMS_SQL_name');?>" style="height: 200px;"/></div><div class="mdui-m-y-1 clamp2 list-grid-title"><?php JCCMS_SQLs($JCCMS_SQL,$x,'JCCMS_SQL_name');?></div><div class="mdui-m-b-2 attributes-info"><ul class="mdui-m-a-0 mdui-p-a-0 attributes-info-list"><li class="att-info-play"><i class="mdui-icon ion-social-youtube-outline"></i> <?php  echo rand(5, 10000); ?></li><li class="att-info-date"><i class="mdui-icon ion-calendar"></i> <?php  echo rand(5, 10000); ?></li></ul></div></a></div>
<?php		 }							 ?>	

</div></div><!-- 视频列表结束 --></div>
<!-- footer开始 -->
<?php  include('./template/'.$web_moban.'/footer.html');?>
<!-- footer结束 --><script src="<?php echo '/template/'.$web_moban;?>/js/jquery.min.js"></script><script src="<?php echo '/template/'.$web_moban;?>/js/mdui.min.js"></script></body></html>